body { background-color: rgb(31, 31, 31); }

h1 { color: rgb(255, 255, 255); font-size: 55px; }

h2 { color:white; font-size: 40px; padding-top: 25px; padding-bottom: 15px;}

span { color: rgb(120, 63, 163); font-size: 20px; }

hr { height: 7px; border: none; background-color: rgb(43, 42, 42); }

p { text-align: center; color: rgb(95, 0, 168); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;}

.linkButton { border-radius: 20px; color: rgb(255, 255, 255); font-family: Verdana; font-size: 20px; font-weight: 100; padding: 20px; background-color: rgb(95, 0, 168); box-shadow: rgb(0, 0, 0) 1px 1px 20px 0px; text-shadow: rgb(0, 0, 0) 1px 1px 20px; border: 1px solid rgb(0, 0, 0); text-decoration: none; display: inline-block; cursor: pointer; text-align: center; }

.linkButton:hover { background: rgb(52, 1, 92); border: 1px solid rgb(0, 0, 0); border-radius: 20px; text-decoration: none; }

.button { border-radius: 20px; color: rgb(255, 255, 255); font-family: Verdana; font-size: 20px; font-weight: 100; padding: 20px; background-color: rgb(95, 0, 168); box-shadow: rgb(0, 0, 0) 1px 1px 20px 0px; text-shadow: rgb(0, 0, 0) 1px 1px 20px; border: 1px solid rgb(0, 0, 0); text-decoration: none; display: inline-block; cursor: pointer; text-align: center; }

.button:hover { background: rgb(52, 1, 92); border: 1px solid rgb(0, 0, 0); border-radius: 20px; text-decoration: none; }
